 @import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
 html,
 body {
     background-color: #fff;
     color: #636b6f;
     font-family: 'Nunito', sans-serif;
     font-weight: 200;
     height: 100vh;
     margin: 0;
 }
 
 .full-height {
     height: 100vh;
 }
 
 .flex-center {
     align-items: center;
     display: flex;
     justify-content: center;
 }
 
 .position-ref {
     position: relative;
 }
 
 .top-right {
     position: absolute;
     right: 10px;
     top: 18px;
 }
 
 .content {
     text-align: center;
 }
 
 .title {
     font-size: 84px;
 }
 
 .links>a {
     color: #636b6f;
     padding: 0 25px;
     font-size: 13px;
     font-weight: 600;
     letter-spacing: .1rem;
     text-decoration: none;
     text-transform: uppercase;
 }
 
 .m-b-md {
     margin-bottom: 30px;
 }
 
 .navbar {
     padding-left: 100px;
     padding-right: 100px;
     position: fixed;
     min-height: 80px;
     width: 100%;
     z-index: 100;
 }
 
 .logo {
     color: #db3056 !important;
     font-family: 'Niconne', cursive;
     font-weight: bold;
 }
 
 .logo img {
     width: 100px;
     height: 65px;
 }
 
 .banner {
     width: 100%;
     height: 80vh;
     margin-bottom: 50px;
 }
 
 .banner-image {
     height: 100%;
     width: 100%;
     object-fit: cover;
     top: 100;
     left: 0;
 }
 
 .lectureType select {
     border-radius: 5px;
     font-weight: bold;
     background-color: #db3056;
     color: #fff;
 }
 
 .createLecture {
     margin: 0 20rem;
 }
 
 .createLecture h1,
 button {
     text-align: center;
     justify-content: center;
 }
 
 .createLecture button {
     border-radius: 3px;
     margin-left: 15px;
     font-weight: bold;
     font-size: large;
 }
 
 .nav-space {
     height: 150px;
     content: '';
 }